@import "default/main_h5bp.less";
@import "default/normalize.less";
@import "default/helpers.less";


a{outline: none;-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}


@font-face {
    font-family: 'veuve';
    src: url('../fonts/VeuveClicquotSerifRegular.eot');
    src: local('☺'),
       url('../fonts/VeuveClicquotSerifRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VeuveClicquotSerifRegular.woff') format('woff'),
         url('../fonts/VeuveClicquotSerifRegular.ttf') format('truetype'),
         url('../fonts/VeuveClicquotSerifRegular.svg#VeuveClicquotSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'veuve';
    src: url('../fonts/VeuveClicquotSerifLight.eot');
    src: local('☺'),
       url('../fonts/VeuveClicquotSerifLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VeuveClicquotSerifLight.woff') format('woff'),
         url('../fonts/VeuveClicquotSerifLight.ttf') format('truetype'),
         url('../fonts/VeuveClicquotSerifLight.svg#VeuveClicquotSerifLight') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'veuve';
    src: url('../fonts/VeuveClicquotSerifBold.eot');
    src: local('☺'),
      url('../fonts/VeuveClicquotSerifBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/VeuveClicquotSerifBold.woff') format('woff'),
      url('../fonts/VeuveClicquotSerifBold.ttf') format('truetype'),
      url('../fonts/VeuveClicquotSerifBold.svg#VeuveClicquotSerifBold') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'veuve';
    src: url('../fonts/VeuveClicquotSerifItalic.eot');
    src: local('☺'),
      url('../fonts/VeuveClicquotSerifItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/VeuveClicquotSerifItalic.woff') format('woff'),
      url('../fonts/VeuveClicquotSerifItalic.ttf') format('truetype'),
      url('../fonts/VeuveClicquotSerifItalic.svg#VeuveClicquotSerifItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@p: '../images/layout/';
@veuve: 'veuve', Times, sans-serif;
@dg: #202020;
@lg: #303030;
@g: #9f9f9f;
@yellow: #ffa100;
@red: #d12730;

@spriteWidth: 190px;
@spriteHeight: 244px;

.spr{
  text-indent: -50000px;
  .at2x('../images/layout/sprite.png', @spriteWidth, @spriteHeight);
}
.sprPhone{
  @media screen and (max-width: 700px){
    .at2x('../images/layout/sprite.png', @spriteWidth, @spriteHeight);
  }
}
html{
  height: 100%;

}
body{
  background: #f3f3f3;
  color: #000;
  font-family: @veuve;
  font-size: 15px;
  width: 100%;


    min-height: 1px;
    max-height: 999999px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


}

.image-text
{
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

video{
  width: 640px;
  height: 480px;
}
p{
    min-height: 1px;
    max-height: 999999px;}
h1{
  font-size: 46px;
  font-weight: normal;
  margin: 5px 15px 0px 15px;
  padding-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
h3{
  font-size: 21px;
  font-weight: normal;
  margin: 0 15px;
  text-align: center;
}
h4{
  font-size: 17px;
  font-weight: normal;
  margin: 0 15px;
  text-align: center;
}
h5{
  font-size: 33px;
  font-weight: normal;
  margin: 0 15px;
  text-align: center;
}
hr{
  border-top: 1px solid @yellow;
  margin: 5px auto 0px;
  width: 75px;
}
.ariane{
  display: block;
  font-size: 13px;
  font-weight: 100;
  padding: 10px 0 0 15px;
}
.content{
  box-sizing: border-box;
  position: relative;
  padding: 0 15px;
  width: 100%;
}
@media screen and (min-width: 700px){
  .phone{
    display: none!important;
  }
  .tablet{
    display: block!important;
  }
}
@media screen and (max-width: 700px){
  h1{
    font-size: 36px;
    line-height: 40px;
    padding-bottom: 30px;
  }
  .content{
    width: 100%;
    padding: 0;
  }
  .phone{
    display: block!important;
  }
  .tablet{
    display: none!important;
  }
}
.form_spacer{
  margin:20px auto;
}

@import "common/footer.less";
@import "common/header.less";
@import "common/main-nav.less";
@import "common/ecommerce.less";
@import "objects/anchors.less";
@import "objects/article.less";
@import "objects/articles-list.less";
@import "objects/credits-and-legal.less";
@import "objects/caves.less";
@import "objects/dates.less";
@import "objects/dates-menu.less";
@import "objects/dots.less";
@import "objects/form.less";
@import "objects/link.less";
@import "objects/notfound.less";
@import "objects/prehome.less";
@import "objects/product.less";
@import "objects/push.less";
@import "objects/read-more.less";
@import "objects/schema.less";
@import "objects/share.less";
@import "objects/shop-bt.less";
@import "objects/slideShow.less";
@import "objects/social.less";
@import "objects/store.less";
@import "objects/timeline.less";
@import "objects/timeline-article.less";
@import "objects/visiting-ul.less";
@import "objects/women.less";
@import "objects/vendanges.less";
@import "objects/weareclicquot.less";