@import "default/helpers.less";

@maxWidth: 500px;

.prehome
{
  //padding-bottom: 10em;

  .visit
  {
    color: #9b6a1c;
    max-width: @maxWidth;
    margin: 4em auto;
  }
  
  form
  {
    h4
    {
      text-align: left;
      text-transform: uppercase;
      margin: 0 0 0.2em;
      font-size: 1.1em;
    }

    select
    {
      padding: 0 0 0 0.2em;
    }

    input
    {
      font-size: 1em;
      
      &.ok
      {
        text-transform: uppercase;
      }
    }

    .action
    {
      margin-top: 2em;
    }

    .error
    {
      margin: 0 4em;
    }

    fieldset
    {
      float: right;
      width: 48%;

      &:first-child
      {
        float: left;
      }
    }
  }

  .conditions
  {
    p
    {
      &:first-child
      {
        text-transform: uppercase;
      }
    }
  }
  
  .year-choice
  {
    overflow: hidden;
    clear: both;
    
    li
    {
      list-style-type: none;
      float: left;
      width: 28%;

      & + li
      {
        margin-left: 4%;
      }

      &.year
      {
        width: 35%;
      }
    }
  }

  .wrap
  {
    form
    {
      width: auto;
      max-width: 670px;
      margin-bottom: 6em;
    }
  }
}

#trop_jeune
{
  display: none;
  //padding: 0 1em;
  margin-top: 1em;
  margin-bottom: 2em;
  
  &.ui-state-active
  {
    display: block;
  }
}

.error
{
  color: #d20404;
  font-size: 0.85em;
  
  a
  {
    color: inherit;
  }
}

#cookie-usage
{
  color: #cf9537;
  background-color: #000;
  padding: 2em 4em;
  text-transform: uppercase;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: none;

  &.ui-state-active
  {
    display: block;
  }

  a
  {
    color: inherit;
  }

  .close
  {
    .at2x('../images/layout/sprite.png', 190px, 244px);
    background-position: -58px -205px;

    width: 13px;
    height: 13px;

    /*position: absolute;
    top: 10px;
    right: 5px;*/

    float: right;
    margin: 0px -5px 10px 10px;

    cursor: pointer;
  }
}

@media screen and (max-width: 480px)
{
  .prehome
  {
    form
    {
      fieldset
      {
        float: none !important;
        width: auto;
      }

      .error
      {
        margin: 0 -4em;
      }

      .action
      {
        margin-top: 1em;
      }

      select
      {
        text-align: left;
      }

      .select
      {
        //padding-left: 0.4em;
        border-bottom: 1px solid #FFA100;

        select
        {
          margin: 0;
          padding-left: 0.4em;
          border: none;
          background-color: transparent;
          -webkit-appearance: button;
        }

        &:after
        {
          height: auto;
          bottom: 0;
          background-color: #fff;
        }
      }

      h4
      {
        padding-left: 0.2em;
      }
    }

    .wrap
    {
      font-size: 0.8em;
      padding-bottom: 7em;

      form
      {
        max-width: 250px;
        margin: 0 auto;
      }

      img
      {
        margin-top: 0.4em;
        width: 40%;
      }
    }

    .visit
    {
      margin: 1em;
    }

    #cookie-usage
    {
      font-size: 0.8em;
      padding: 1em 1em 1em 1em;
      text-align: left;

      .close
      {
        margin: 0px -5px 0px 10px;
      }
    }
  }
}

// Rustine safari
@media screen and (-webkit-min-device-pixel-ratio:0)
{
  .prehome
  {
    form
    {
      .select
      {
        select
        {
          padding-left: 0.8em;
        }
      }
    }
  }
}

@media screen and (max-width: 400px)
{
  .prehome
  {
    form
    {
      .error
      {
        margin: 0;
      }
    }
  }
}
