/* Base Bootstrap */
body{padding:70px;}
html{background-color: white;}
ul li{list-style:none;}
a{color:#191919;}
a:hover{color:#191919;text-decoration:none;}
.btn{font-size:12px;padding:0px 8px;}

.navbar {font-size: 13px;}
.navbar .brand {padding: 8px 20px 8px;}
#logo{margin-right: 10px;}

#flogin{width:370px;margin:auto;}
#flogin h2{font-size:20px;margin-top:0px;text-align:center;}
#floginform div, #flogin form h2{padding-left:10px;}
#flogin div{padding:10px;}

.upload img{width: 100px; margin: 10px;}

/* Some handpicked stuff from Bootstrap */
textarea, input[type="text"], input[type="password"]{background-color:white;border:1px solid #CCC;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;-moz-transition:border linear 0.2s, box-shadow linear 0.2s;-o-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s;}
select, textarea, input[type="text"], input[type="password"]{display:inline-block;padding:0px 10px;font-size:11px;line-height:20px;color:#555;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.pagination ul > li > a, .pagination ul > li > span{padding:0 9px;line-height:24px;}

/* Tiny MCE reset */
#sf_admin_container .defaultSkin table.mceLayout {border: 0;border: none;}
#sf_admin_container .defaultSkin td.mceToolbar, .defaultSkin td.mceStatusbar {background: none; }
#sf_admin_container .defaultSkin td.mceToolbar{border-bottom:1px #ccc solid; padding: 3px 2px;} 
#sf_admin_container .defaultSkin td.mceStatusbar{border-top:1px #ccc solid; padding: 3px 2px;} 
#sf_admin_container .defaultSkin a.mceButtonEnabled:hover, #sf_admin_container .defaultSkin a.mceButtonActive, .defaultSkin a.mceButtonSelected {border: 1px #ccc solid;background-color: #00c0e1;}

#sf_admin_container .tab-projet .tab-content{height: 570px;}
#sf_admin_container .tab-content label{display: inline-block; float:none;}
#sf_admin_container .tab-content label{display: inline-block; float:none;}
#sf_admin_container .tab-content .tab-field-row{margin-bottom: 20px;}
#sf_admin_container .tab-content .defaultSkin table.mceLayout{display: inline-block;}

#sf_admin_container .errors.alert.alert-error{margin: 4px 0; padding: 2px;}

/* Doctrine Custom Style */
#sf_admin_container{font-size:12px;}
#sf_admin_container h1{margin:0;padding:0;margin-bottom:20px;font-size:25px;}
#sf_admin_container th{white-space:nowrap;}
#sf_admin_container td, #sf_admin_container th{border:0;text-align:left;}
#sf_admin_container tr{background-color:#fff;}
#sf_admin_container ul.error_list{margin:0;margin-bottom:7px;color:#d33;border:none;background-color:#f33;}
#sf_admin_container ul.error_list li{padding:4px;padding-left:25px;list-style:none;color:#fff;background:url(../images/error.png) no-repeat 4px 4px;}
#sf_admin_container .sf_admin_list tr:hover{background-color:#00c0e1;}
#sf_admin_container .sf_admin_list tr:hover th{background-color:white;}
#sf_admin_container input, #sf_admin_container textarea{width:auto;}
#sf_admin_container .radio_list, #sf_admin_container .checkbox_list{margin:0;}
#sf_admin_container .radio_list li, #sf_admin_container .checkbox_list li{list-style:none;display:inline;}
#sf_admin_container .double_list_select, #sf_admin_container .double_list_select-selected{width:12em;}
#sf_admin_container .double_list_label{font-weight:bold;}
#sf_admin_container tfoot td{margin:0;list-style:none;text-align:right;}
#sf_admin_container thead img, #sf_admin_container tfoot img{vertical-align:middle;}
#sf_admin_content{padding:30px;}
#sf_admin_bar{float:right;margin-left:20px;}
.sf_admin_pagination{float:right;}
#sf_admin_container ul.sf_admin_td_actions{margin:0;padding:0;list-style-type:none;float:right;}
#sf_admin_container ul.sf_admin_td_actions li{list-style-type:none;display:inline;margin-right:10px;font-size:90%;}
#sf_admin_container ul.sf_admin_actions{margin:40px 0 0 0;list-style-type:none;}
#sf_admin_container ul.sf_admin_actions li{list-style-type:none;display:inline;margin-right:10px;}
#sf_admin_container .notice{margin:4px 0;padding:4px 4px 4px 30px;background:url(../images/tick.png) no-repeat 10px 4px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background-color:#ffc;}
#sf_admin_container .error{margin:4px 0;padding:4px 4px 4px 30px;background:url(../images/error.png) no-repeat 10px 4px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background-color:#f33;color:#fff;}
#sf_admin_container fieldset h2{padding:3px;font-size:20px;color:#00c0e1;margin:0;}
#sf_admin_container fieldset{margin-bottom:25px;}
#sf_admin_container fieldset.collapsed *{display:none;}
#sf_admin_container fieldset.collapsed h2, #sf_admin_container fieldset.collapsed{display:block !important;}
#sf_admin_container fieldset.collapsed .collapse-toggle{display:inline !important;}
#sf_admin_container fieldset.collapse h2 a.collapse-toggle{color:#ffc;}
#sf_admin_container fieldset.collapse h2 a.collapse-toggle:hover{text-decoration:underline;}
#sf_admin_container label{display:block;padding:0 1em 3px 0;float:left;text-align:left;width:8em;color:#666;font-weight:normal !important;}
#sf_admin_container ul label, #sf_admin_container td label{display:inline;float:none !important;}
#sf_admin_container .sf_admin_form_row{clear:both;padding:10px;}
#sf_admin_container .sf_admin_form_row .content{padding-left:9em;}
#sf_admin_container .help{padding-left:9em;color:#aaa;}
#sf_admin_container td .help{padding-left:0;}
#sf_admin_container .errors input, #sf_admin_container .errors select{border:1px solid #f22;}
#sf_admin_container .sf_admin_list .sf_admin_boolean{text-align:center;}
.sf_admin_list table{min-width:50%;}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }