.anchors{
  background: #202020;
  border-top: 1px solid #000;
  bottom: -1px;
  left: 0;
  position: fixed;
  margin-bottom: -500px;
  width: 100%;
  z-index: 9;
  .transition(all);
  &.open{

    margin-bottom: 0!important;
  }
  a.anchors-menu{
    .spr;
    background-position: -147px -162px;
    display: block;
    height: 43px;
    position: absolute;
    left: 50%;
    top: -22px;
    margin-left: -22px;
    width: 43px;

  }
  ul{
    list-style: none;
    margin: 30px auto 0;
    width: 100%;
    li{
      border-top: 1px solid @lg;
      padding: 10px;
      text-align: center;
      &:first-child{
        border-top: none;
      }
      a{
        color: #FFF;
        text-decoration: none;
      }
    }
  }
}