.articles-list{
  list-style: none;
  margin-bottom: 30px;
  width: 100%;
  &>li:not(.clearfix){
    display: block;
    float: left;
    width: 48%;
    margin-bottom: 15px;
  }
  .large{
      width: 100%!important;
  }
  .sml{
  p{
      -moz-column-count:1; /* Firefox */
      -webkit-column-count:1; /* Safari and Chrome */
      column-count:1;

    }
  }
}
@media screen and (max-width: 700px){
  .articles-list{
    margin: 0px auto 40px;
    &>li{
      margin-left: 0!important;
      width: 100%!important;
    }
  }
}