
article.article{
  background: #FFF;
  border-bottom: 1px solid @yellow;
  margin: 0 auto 15px;
  position: relative;
  //width: 738px;
  width: 100%;
  &.news{
    h4{margin: 20px 0 0;}
    h3{
      color: #000;
      margin-top: 15px;
    }
  }
  figure{
    height: 250px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    //width: 738px;
    //width: 100%;
    a.video{
      display: block;
      height: 250px;
      &::after{
        .spr;
        content:'.';
        background-position: -60px -93px;
        display: block;
        height: 39px;
        left: 50%;
        margin: -19px 0 0 -19px;
        position: absolute;
        top: 50%;
        width: 38px;
      }
    }
    img{
      width: 100%;
    }

  }
  h3,h4,h5{
    color: @yellow;
  }
  h4{
      font-style: italic;
      margin: 10px 0 10px;
    }
  p{
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
    column-count:2;
    -moz-column-gap:40px; /* Firefox */
    -webkit-column-gap:40px; /* Safari and Chrome */
    column-gap:40px;
    box-sizing: border-box;
    margin: 0;
    padding: 15px 20px;
    text-align: justify;
    font-size: 15px;
  }
  .citation{
    color: @yellow;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
    span{
      display: block;
      font-weight: 100;
    }
    strong{
      display: block
    }
  }



    .overflow{
      height: 140px;
      overflow: hidden;
      margin-bottom: 20px;
      .share-bloc{
        opacity: 0;
        .transition(opacity)
      }
    }
  &.art-open{
    .overflow{
      .share-bloc{
        opacity: 1;
      }
    }
  }

}

@media screen and (min-width: 700px){
  article.article{
    p.nocolumn{
      -moz-column-count:1; /* Firefox */
      -webkit-column-count:1; /* Safari and Chrome */
      column-count:1;
      box-sizing: border-box;
      text-align: center;
    }
  }
}
@media screen and (max-width: 700px){
  article.article{
    width: 100%;
    figure{
      width: 100%;
      height: 250px;
      position: relative;
      &>img,&>a>img{
        position: absolute;
        left: 50%;
        margin-left: -369px;
        width: 738px;
      }
      .wrap{
        ul{
          position: absolute;
          li{
            overflow: hidden;
            height: 250px;
            width: 100%;
            img{
              //margin-left: -22px;
            }
          }
        }
      }
    }
    p{
      -moz-column-count:1; /* Firefox */
      -webkit-column-count:1; /* Safari and Chrome */
      column-count:1;
      padding: 15px 20px 25px;
    }

  }
}