.caves{
  list-style: none;
  margin-bottom: 50px;
  &>li{
    overflow: hidden;
    position: relative;
    &:nth-child(1){
      z-index: 0;
    .at2x('../images/layout/cave-bg1.jpg', 768px, 618px);
    }
    &:nth-child(2){
      z-index: 1;
    .at2x('../images/layout/cave-bg2.jpg', 768px, 587px);
    }
    &:nth-child(3){
      z-index: 2;
    .at2x('../images/layout/cave-bg3.jpg', 768px, 590px);
    }
    &:nth-child(4){
      z-index: 3;
    .at2x('../images/layout/cave-bg4.jpg', 768px, 586px);
    }
    &:nth-child(5){
      padding-bottom: 0px;
      z-index: 4;
    .at2x('../images/layout/cave-bg5.jpg', 768px, 452px);
    }
    &:nth-child(6){
      z-index: 5;
    .at2x('../images/layout/cave-bg1.jpg', 768px, 618px);
    }
    &:nth-child(7){
      z-index: 6;
    .at2x('../images/layout/cave-bg2.jpg', 768px, 587px);
    }
    &:nth-child(8){
      z-index: 7;
    .at2x('../images/layout/cave-bg3.jpg', 768px, 590px);
    }
    &:nth-child(9){
      z-index: 8;
    .at2x('../images/layout/cave-bg4.jpg', 768px, 586px);
    }
    &:nth-child(2):after,&:nth-child(5):after,&:nth-child(7):after {
      border-bottom: solid 1px #ffa100;
      position: absolute;
      bottom: 30px;
      left: 10%;
      right: 10%;
      content: '\a0';
    }
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    background-position: center center;
    box-sizing:border-box;
    color: #FFF;
    //height: 600px;
    padding-bottom: 50px;


    position: relative;
    h1{
      color: @yellow;
    }
    figure{
      float: right;
      text-align: center;
      width: 46%;
      position: relative;
      /*margin-left: 2em;*/
      margin-bottom: .5em;

      img
      {
        max-width: 100%;
        height: auto;
      }

    }
    article{

      margin: 2em;
      overflow: hidden;

      .article-content
      {
        line-height: 1.5;
        font-size: 1.2em;
        float: left;
        width: 50%;

        p {
          font-size: 0.8em;
        }

        h4
        {
          color: #ffa100;
          text-transform: uppercase;
          border-bottom: 1px solid #ffa100;
          padding-bottom: .2em;
          display: inline-block;
          font-size: 0.8em;
          margin: 0;
        }
      }
      
      /*float: left;*/
      
      /*width: 50%;*/
      //padding-bottom: 50px;


        h2,h3
        {
          text-align: center;
        }

      h2
      {
        font-size: 1.5em;
        margin: 0 0 .5em;
      }
      h3{
        font-size: 1em;
        margin: 0 0 1.5em;
        /*font-weight: bold;*/
        line-height: 1.4;
        text-transform: uppercase;
        /*padding-left: 30px;
        text-align: left;*/
        /*&::before{
          .spr;
          content:'.';
          background-position: 0px -162px;
          display: inline-block;
          margin-right: 7px;
          height: 26px;

        }*/
      }

      p{
        /*padding: 0 30px;*/
      }
      .shop-bt{
        margin: 50px 30px;
        text-align: left;
        width: inherit;
      }
    }
    &:nth-child(2n-2){
      article{
        /*float: right;*/
        .article-content
        {
          float: right;
        }
      }
      figure{
        float: left;
        /*margin-right: 2em;*/
      }
    }
    /*figure{margin-top: -50px;}*/
    &:nth-child(1)
    {
      figure
      {
        /*margin-top: -200px;*/
      }
    }
  }
}


@media screen and (max-width: 700px){
  .caves{
    margin-bottom: 0;
    &>li{

      background: #000!important;
      figure,article{
        float: none;
        /*width: 100%;*/
         .shop-bt{
          /*margin: 50px auto;*/
        text-align: center;
        }
      /*margin: 0!important;*/
      }
      figure{
        /*height: 260px;*/
        margin: 3em 0 2em !important;
        overflow: hidden;
        text-align: center;
        width: 100%;
        img{
          /*position: absolute;
          bottom: 0;
          width: 60%;
          left: 20%;*/
        }
      }
      article
      {
        margin-top: 0;
        margin-bottom: 2em;

        .article-content
        {
          width: 100%;
        }

      }

    }
  }
}