.static{
  box-sizing: border-box;
  padding: 0 10px;
  &.credits,&.cellars{
  text-align: center;
  h4{margin-top: 5px;}
  }
  h3,h4{color:@yellow;margin-top: 40px;}
  ul{
    margin-left: 20px;
  }
  a{color:@yellow;text-decoration: none;}
}