
ul.dates-menu{
  list-style: none;
  margin: 35px 0;
  position: relative;
  text-align: center;
  &::before{
    content:'.';
    background: @g;
    display: block;
    position: absolute;
    top: 30px;
    height: 1px;
    text-indent: -50000px;
    width: 100%;
  }
  li{
    display: inline-block;
    margin-left: 30px;
    &:first-child{margin-left: 0;}
    a{
      .rounded(60px);
      background: #f3f3f3;
      border:1px solid @g;
      color: @g;
      display: block;
      font-size: 19px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      position: relative;
      text-decoration: none;
      width: 60px;
      &.select{
        background: #000;
        border:1px solid #000;
        color: @yellow;

        &::after{
          .spr;
          background-position:-95px -163px;
          content:'.';
          display: block;
          height: 15px;
          left: 50%;
          margin-left: -9px;
          position: absolute;
          bottom: -20px;
          width: 19px;
        }

      }
    }
  }
}