.dates{
    list-style: none;
    margin: 0 auto;
    li{
      margin: 0 0 15px 0;
      article{
        background: #FFF;
        box-sizing: border-box;
        border-bottom: 1px solid @yellow;
        padding: 10px;
        text-align: center;
        width: 236px;
        h4{
          color: @yellow;
          font-size: 34px;
        }
        h5{
          color: @yellow;
          font-size: 14px;
          margin-top: 10px;

        }
      }
    }


}
@media screen and (max-width: 700px){
  .dates{
    width: 96%;
    min-height: 1000px;
    li{
      margin: 0 0 15px 0;
      width: 100%;
      article{
        width: 100%;
      }
      img{
        width: 100%;
      }
    }
  }
  }