.dots{
  list-style: none;
  height: 13px;
  text-align: center;
  position: relative;
  &.upper{
   // margin-top: -50px;
   // margin-bottom: 37px;
  }
  li{
    display: inline-block;
    margin-left: 10px;
    &:first-child{
      margin: 0;
    }
    a{
      .rounded(13px);
      background: @g;
      opacity: 0.5;
      display: block;
      height: 13px;
      text-indent: -5000px;
      width: 13px;
      .transition(all);
      &.select{
        background: @yellow;
        opacity: 1;
      }
    }
  }
}