form{
  padding: 0 15px;
  margin-bottom: 50px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  input[type="text"],input[type="email"],select,textarea{
    -webkit-appearance:none;
    .rounded(0px);
    border: 1px solid #fff;
    border-bottom: 1px solid @yellow;
    box-sizing: border-box;
    display: block;
    font-family: @veuve;
    height: 40px;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
  }
  input[type="submit"]{
    .rounded(0px);
    background: #000;
    border: none;
    color: @yellow;
    font-family: @veuve;
    font-size: 18px;
    height: 40px;
    padding: 15px 30px 30px;
    margin-bottom: 15px;
  }
  span{
    display: block;
    font-style: italic;
    margin: 5px 0 15px;
  }
  select{
    line-height: 40px;
    padding: 0 0 0 15px;
  }
  textarea{
    height: 150px;
  }
  .select{
    background: #FFF;
    box-shadow: none;
    position: relative;
    &::after{
      .spr;
      background-position:-45px -148px;
      border-left: 1px solid @yellow;
      content:'.';
      display: block;
      height: 40px;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
    }
  }
}

.erreurchamp {
  color: red;
}