a.link{
    color: @yellow;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    &::after{
      .spr;
      background-position: -20px -64px;
      content: '.';
      display: inline-block;
      height: 17px;
      margin-left: 10px;
      width: 9px;
    }
  }