.prehome{
    padding: 0;
    height: 100%;
  .wrap{
  padding-bottom: 10em;
    min-height: 100%;
    height: auto !important;
  height: 100%;
    margin-bottom: -56px;
    text-align: center;
    width: 100%;
    .at2x('../images/layout/prehomebg.jpg', 768px, 1px);
    img{
      margin-top: 30px;
    }
    form{
      margin: 30px auto;
      width: 250px;
/*
      a{
        background: #000;
        color: @yellow;
        display: inline-block;
        margin-left: 10px;
        padding: 7px 20px;
        text-decoration: none;
        text-transform: uppercase;
        &:first-child{
          margin-left: 0;
        }
      }
      */
      span{display: inline;}
    }
    .conditions{
      max-width: 500px;
      padding: 0 15px;
      margin: 0 auto 20px;
      p{
        color: #9b6a1c;
        a{
          color: #9b6a1c;
          text-decoration: none;
        }
      }
    }
    hr{
      border-top: 1px solid #9b6a1c;
      margin: 10px auto;
      width: 100px;
    }
    .tampon{
      height: 41px;
    }
  }
  footer{
    display: block;
    background: #000;



    color: @yellow;
    width: auto;
    text-align: center;
    p{padding: 10px;
    display: block;}
  }
}
