  .yellow-label{
    background: #febe1d;
  }
  .rose{
    background: #f7c6ca;
  }
  .vintages{
    background: #20110e;
  }
  .la-grande-dame{
    background: #191919;
  }
  .demi-sec
  {
    background: #000;

    h1
    {
      color: #fff;
    }
  }

  .vintages,.la-grande-dame{
    h1{
      color: @yellow;
    }
    .ariane,h4,span,p{
      color:#FFF;
    }
  }
.product{
  position: relative;
  margin-bottom: 50px;
  &.yellow-label{
    background: #febe1d;
  }
  &.rose{
    background: #f7c6ca;
  }
  &.vintages{
    background: #20110e;
  }
  &.la-grande-dame{
    background: #191919;
  }
  &.yellow-label,&.rose{
    .shop-bt{
      a{
        border: 1px solid #000;
        color: #000;
        &::before{
          background-position-x: -163px;
        }
      }
    }
  }
  &.demi-sec
  {
    background: #000;
    color: #fff;

    ul.composition{
        border-bottom-color: #fff !important;
        li{
          border-top-color: #fff !important;
          }
        }
  }
  article{
    position: relative;
    padding: 30px 30px 0 30px;
    .text{
      float: left;
      width: 50%;
      &>ul{
        list-style: none;
        &>li{
          margin-bottom: 50px;
        }
      }
      h4{
        font-size: 18px;
        font-weight: bold;
        line-height: 28px;
        text-align: left;
        &::before{
          .spr;
          content:'.';
          background-position: 0px -162px;
          display: inline-block;
          margin-right: 7px;

          height: 26px;
          width: 26px;
        }
      }
      ul.composition{
        list-style: none;
        border-bottom: 1px solid #000;
        li{
          border-top: 1px solid #000;
          padding: 10px;
          span{
            float: left;
            font-style: italic;
            width: 25%;
          }

          p{
            float: right;
            margin: 0;
            width: 70%;
          }
        }
      }
      .shop-bt{
        text-align: left;
      }
    }
    figure{
      width: 50%;
      float: right;
      text-align: center;
      img{
      }
    }
  }
}
@media screen and (max-width: 700px){
  .yellow-label{
  background: #f3f3f3;
  }
  .rose{
  background: #f3f3f3;
  }
  .vintages{
  background: #f3f3f3;
  }
  .la-grande-dame{
  background: #f3f3f3;
  }
  .vintages,.la-grande-dame{
    h1{
      color: #000;
    }
    .ariane{
      color:#000;
    }
  }
  .product{
    article{
      padding-top: 0;
      figure{
        overflow: hidden;
        height: 300px;
        
        
        
        img{
          margin-top: -567px;
        }
        margin-bottom: 30px;
      }
      figure,.text{
        float: none;
        width: auto;
        h4{
          text-align: center;
        }
        .shop-bt{
          text-align: center;
        }
      }
    }

    p{
      text-align: justify;
    }

  }
}
