.push{
  background: #FFF;
  border-bottom: 1px solid @yellow;

  figure{
    height: 250px;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  h3{
    margin-top: 10px;
  }
  padding-bottom: 10px;
}

@media screen and (max-width: 700px){
  .push{
    padding: 10px;
    a{margin-bottom: 0;}
    figure{
      display: none;
    }
  }
}