.read-more,.more{
  .spr;
  background-position: -102px -93px;
  display: block;
  display: none;
  height: 35px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin: 0 0 -17px -17px;
  width: 35px;
}
.more.cvend
{
  display: block;
}
&.art-open .read-more,&.art-open .more{
  background-position: 0px -120px;
}

.bottom-panel
{
  position: relative;
  background: #fff;

  .shop-block
  {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
