.share-bloc{
  margin: 90px 0 60px 0;
  text-align: center;
  hr{
    border-top: 1px solid #000;
    margin:0 0 -2px 0;
    width: 100%;
  }
}

.share{
    display: inline-block;
    background: #000;
    height: 22px;
    padding: 5px 15px;
    span{
      color: @g;
      display: inline-block;
      border-right: 1px solid @lg;
      padding-right: 15px;
    }
    ul{
      display: inline-block;
      margin-left: 15px;
      list-style: none;
      li{
        display: inline-block;
        margin-left: 6px;
        &:first-child{margin-left: 0;}
      }
    }
  }

article.article{
  .share-bloc {
    margin: 30px 0 30px 0;
    hr{display: none;}
    .share{
      background: none;
      border: 1px @yellow solid;
      span{
        color: @yellow;
        border-right: 1px solid @yellow;
      }
    }
  }
  }