.shop-bt{

  margin: 0px 0 30px;
  position: relative;
  text-align: center;
  width: 100%;
  a{
    border: 1px solid @yellow;
    color: @yellow;
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    padding: 10px;
    text-decoration: none;

    &::before{
      .spr;
      content:'.';
      background-position: -144px -90px;
      display: inline-block;
      margin-right: 7px;
      height: 20px;
      width: 15px;
    }
  }
}