.slideShow{
  /*-webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
  -webkit-transform-style: preserve-3d;*/
  margin: 0 auto;
  position: relative;
  width: 100%;
  &>.wrap{
    height: 250px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 100%;
    ul{
      position: absolute;
      list-style: none;
      width: 100%;
      li{
        float: left;
        width: 100%;
      }
    }
    article.article{
      border-bottom: none;
      p{
        padding-bottom: 10px;
      }
    }
  }
  &.articles{
    background: #FFF;
    border-bottom: 1px solid @yellow;
    //padding-bottom:   0px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
figure.slideShow .wrap{
  margin-bottom: 20px;
  ul li{
  width: 50%;
  height: 250px;

  img{
    min-height: 250px;
  }
  }
}
@media screen and (max-width: 700px){
  .slideShow.articles{margin-top: 0;}
  figure.slideShow .wrap ul li{
    width: 100%;
  }
}