ul.social{
  list-style: none;
  li{
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
  }
}
a.network{
  .spr;
  display: block;
  height: 22px;
  width: 22px;
  &.facebook{
    background-position: -50px -70px;
  }
  &.twitter{
    background-position: -75px -70px;
  }
  &.youtube{
    background-position: -100px -70px;
  }
  &.pinterest{
    background-position: -125px -70px;
  }
}
