.store{
  background: #FFF;
  border-bottom: 1px solid @yellow;
  figure{
    height: 250px;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  h3{
    margin-top: 10px;
    color: @yellow;
    &::before{
      .spr;
      background-position: -30px -162px;
      content: '.';
      display: inline-block;
      height: 18px;
      margin-right: 5px;
      width: 15px;
    }
  }
  address{
    display: block;
    font-style: normal;
    margin: 15px 0;
    text-align: center;
  }

}

@media screen and (max-width: 700px){
  .articles-list .large{
    .store{
      figure{
        position: relative;
        img{
        position: absolute;
        left: 50%;
        margin-left: -369px;
        width: 738px;
        }
      }
    }
  }
}