.timeline{
  overflow: hidden;
  margin-top: 35px;
  width: 100%;
  span{
      .rounded(60px);
      background: #000;
      border:1px solid 000;
      color: @yellow;
      display: block;
      font-size: 19px;
      font-weight: bold;
      height: 60px;
      left: 50%;
      line-height: 60px;
      margin-left: -30px;
      pointer-events: none;
      position: absolute;
      text-align: center;
      text-decoration: none;
      width: 60px;
      z-index: 1;
    }
  img{
      left: 50%;
      height: 40px;
      margin-left: -20px;
      margin-top: 10px;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      width: 40px;
      z-index: 2;
      .transition(opacity)
    }
  ul{
    position: relative;
    padding-top: 30px;
    margin-left: 50%;
    list-style: none;
    &::before{
      content:'.';
      background: @g;
      display: block;
      position: absolute;
      top: 30px;
      height: 1px;
      text-indent: -50000px;
      width: 100%;
    }
    li{
      display: inline-block;
      margin: -10px 30px 0 0;
      &:last-child{margin-right: 0;}
      a{
        color : #000;
        display: block;
        padding-top: 20px;
        text-decoration: none;
        &.select{
          //visibility: hidden;
        }
      }
    }
  }
}