@pictosVendangeWidth: 135px;
@pictosVendangeHeight: 105px;

.carousel {
            
            overflow: hidden;
            width: 100%;
            position: relative;
            
            -webkit-backface-visibility: hidden;
            -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
            -webkit-transform-style: preserve-3d;
        }

        .carousel ul.animate {
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
        }

        .carousel > ul {
            -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
            -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
            -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
            -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
            transform: translate3d(0%,0,0) scale3d(1,1,1);
            overflow: hidden;
            -webkit-backface-visibility: hidden;
            -webkit-transform-style: preserve-3d;
        }

        .carousel ul.date-vendange {
            position: relative;
        }

        .carousel  ul.date-vendange > li {
            float: left;
            overflow: hidden;
            -webkit-transform-style: preserve-3d;
            -webkit-transform: translate3d(0,0,0);
            /*padding: 0 1em;*/
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;

            & > div
            {
              padding: 0 .3em;
            }
        }

ul.carnet
{
  list-style-type: none;
  background: #fff;
  overflow: hidden;
  
  h2
  {
    color: #ffa100;
    text-align: center;
  }
  
  .pagecarnet
  {
    max-height: 500px;
    
    figure
    {
      position: relative;
      z-index: 0;
      /*float: left;*/

      img
      {
        max-width: 100%;
      }
    }
    
    h2,h3
    {
      text-align: left;
    }

    h2
    {
      font-size: 2.5em;
      font-weight: normal;
      line-height: 1;
      margin: 0 0 .5em;
    }

    h3
    {
      margin: 0 0 1em;
      font-size: 1.6em;
    }
    
    .carnet-content
    {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      /*float: right;*/
      width: 50%;
      z-index: 1;
      text-align: justify;

      .scroll-block
      {
        /*text-align: left;*/
        padding: 3em 2em;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        overflow-y: auto;
        max-height: 84%;
      }
    }

    &.first
    {
      figure
      {
        width: 100%;
        margin: 0;
        
        img
        {
          width: 100%;
        }
      }
      
      .carnet-content
      {
      /*position: absolute;
      top: 0;
      right: 0;
      bottom: 0;*/
        width: 33%;
        background: #000;
        color: #fff;
        opacity: 0.8;
      }
    }
    
    h2.h2forphone
    {
      display: none;
    }
    
    h2.h2fortablet
    {
      display: block;
    }
    
    ul.date-vendange
    {
      list-style-type: none;
      
      & > li
      {
        margin: 0 0 2em;
      }
    }

    &.odd,&.even
    {
      figure
      {
        width: 40%;
        margin: 0 0 0 5%;
        height: 100%;
      }
    }
    
    &.odd
    {
      .carnet-content
      {
        background: #000;
        color: #fff;
      }
    }
    
    &.even
    {
      color: #000;

      .social
      {
        li
        {
          &.facebook
          {
            a
            {
              background-position: 0 -69px;
            }
          }

          &.twitter
          {
            a
            {
              background-position: -36px -69px;
            }
          }
        }
      }
    }

    .social
    {
      /*position: absolute;
      bottom: 5%;
      left: 2em;
      z-index: 10;*/

      a
      {
        .at2x('../images/layout/pictos-vendanges.png', @pictosVendangeWidth, @pictosVendangeHeight);
        background-repeat: no-repeat;
        width: 36px;
        height: 36px;
        display: block;
      }

      & > li
      {
        margin-left: 0;
        
        &.facebook
        {
          a
          {
            background-position: 0 -33px;
          }
        }

        &.twitter
        {
          a
          {
            background-position: -36px -33px;
          }
        }

        & + li
        {
          margin-left: 1em;
        }
      }
    }
  }
}

.image-text
{
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.bx-wrapper
{
  position: relative;
}

.bx-controls-direction
{
  a
  {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
  }
  
  .disabled
  {
    display: none;
  }
}

#slide-top
{
  border-bottom: 1px solid #ffa100;
  background-color: #fff;
  
  .slide-block
  {
    margin: 0 30px;

    .carnet
    {
      & > li
      {
        min-height: 400px;
      }
    }
    
    .bx-controls-direction
    {
      a
      {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 30px;

        background-color: #fff;

        &:after
        {
          .at2x('../images/layout/pictos-vendanges.png', @pictosVendangeWidth, @pictosVendangeHeight);
          width: 26px;
          height: 33px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -16px 0 0 -13px;
          content: '\A0';
        }

        &.bx-prev
        {
          left: -30px;
        }

        &.bx-next
        {
          right: -30px;

          &:after
          {
            background-position: -26px 0;
          }
        }
      }
    }
  }
}

.carnet-content
{
  .bx-controls-direction
  {
    .bx-button
    {
      position: absolute;
      top: 0;
      .at2x('../images/layout/pictos-vendanges.png', @pictosVendangeWidth, @pictosVendangeHeight);
      background-color: #fff;
      width: 20px;
      height: 25px;
      display: none;

      &.ui-state-active
      {
        cursor: pointer;
        display: block;
      }
      
      &.bx-prev
      {
        left: 0;
        background-position: -52px 0;
      }

      &.bx-next
      {
        right: 0;
        background-position: -72px 0;
      }
    }
  }
}

#slide-top + .articles-list
{
  margin-top: 4em;
}

@media screen and (max-width: 700px)
{
  ul.carnet
  {
    background-color: transparent;
    
    .pagecarnet
    {
      max-height: none;
      padding: 2em 0;
      
      figure
      {
        width: 100% !important;
        height: auto !important;
        text-align: center;
        margin-left: 0 !important;
      }

      .carnet-content
      {
        width: 100% !important;
        position: static;

        .scroll-block
        {
          overflow-y: visible;
          max-height: none;
          padding: 2em 0 0;
          
          margin: 0 1.5em;
        }

        .social
        {
          text-align: center;
          
          li
          {
            a
            {
              width: 32px;
              height: 32px;
            }

            &.facebook
            {
              a
              {
                background-position: -72px -33px;
              }
            }

            &.twitter
            {
              a
              {
                background-position: -104px -33px;
              }
            }
          }
        }
      }

      h2,h3
      {
        text-align: center;
      }

      h3
      {
        padding: 0 24px;
        font-size: 1.2em;
      }

      &.first
      {
        background-color: #000;
        padding-top: 3em;

        h2
        {
          font-size: 2.8em;
          margin-bottom: 1em;
          
          &.h2forphone
          {
            display: block;
          }
          
          &.h2fortablet
          {
            display: none;
          }
        }

        .carnet-content
        {
          opacity: 1;
        }

        figure
        {
          img
          {
            
          }
        }
      }

      &.odd,&.even
      {
        margin: 2em 1em;
        background-color: #fff;
        
        h2
        {
          position: relative;
          font-size: 1.5em;
          margin-bottom: .8em;

          &:after
          {
            content: '\A0';
            border-bottom: 1px solid @yellow;
            position: absolute;
            bottom: -0.4em;
            left: 38%;
            right: 38%;
          }
        }

        figure
        {
          img
          {
            max-width: 90%;
          }
        }

        &.block-overflow
        {
          border-bottom: 1px solid #ffa100;
          position: relative;
        }

        .social
        {
          padding-bottom: .5em;
          
          li
          {
            &.facebook
            {
              a
              {
                background-position: -72px -64px;
              }
            }

            &.twitter
            {
              a
              {
                background-position: -104px -64px;
              }
            }
          }
        }
      }

      &.odd
      {
        .carnet-content
        {
          background-color: transparent;
          color: #000;
        }
      }

      .social
      {
        position: static;
        display: block;
        text-align: center;
      }
    }
  }
}

.block-overflow
{
  .read-more
  {
    position: absolute;
  }
}
