ul.visiting{
  list-style: none;
  margin-bottom: 50px;
  width: 100%;
  li{
    box-sizing: border-box;
    &:first-child{
      margin-right: 2%;
    }
    padding: 0 10px;
    float: left;
    width: 49%;
    p{
      margin: 0 0 10px 0;
    }
    span{
      color: @yellow;
    }
    a{
      text-decoration: none;
      color: #000;
      &.link{
        color: @yellow;
        &::after{
          .spr;
          background-position: -20px -64px;
          content: '.';
          display: inline-block;
          height: 17px;
          margin-left: 15px;
          width: 9px;
        }
      }
    }
  }
}
@media screen and (max-width: 700px){
  ul.visiting{
    margin: 0 auto 50px;
    width: 96%;
    li{
      float: none;
      margin: 0 0 30px 0!important;
      width: 100%;
    }
  }
}