/************************************************/
/******************** INTRO ********************/
.page-weareclicquot {
		background-color: #ECE9E7;
		padding-bottom: 30px;

	.intro_li {
		height: 100%;
	}

	.intro {
		padding-top: 20px; 

		background-color: #000;
		width: 100vw;
		padding-bottom: 25px;
		z-index: 2;
		position: relative;
		height: 100%;

		h1 {
			margin-top: 0;

			font-family: 'veuve';
			font-weight: normal;
			text-align: center;
			text-transform: capitalize;
			font-size: 46px;
			line-height: 1em;

			color: #ffa100;

			@media screen and (max-width: 1024px) {
				font-size: 36px;
			}

			@media screen and (max-width: 700px) {
				font-size: 28px;
			}
		}

		p{
			font-family: 'veuve';
			font-weight: normal;
			margin: 40px 60px 30px 60px;

			text-align: justify;
			line-height: 1.4;
			font-size: 23px;

			color: white;

			b {
				font-family: 'veuve';
				font-weight: 900;
			}

			@media screen and (max-width: 1024px) {
				font-size: 21px;
			}

			@media screen and (max-width: 700px) {
				margin: 20px 20px 20px 20px;

				font-size: 18px;
				text-align: left;
			}
		}

		.intro_img_content
		{
			@media screen and (min-width: 701px) and (max-width: 1024px) {
				position: relative;
				height: 300px;
				overflow: hidden;
			}
		}

		.intro_img {
			width: 100vw;
		}

		.intro_foot {
			padding-top: 30px;
			text-align: right;
		}

		.link_episode {
			display: inline-block;
			vertical-align: bottom;
		}

		.after-icon-right {
			position: relative;
			margin-top: 15px;
			margin-right:80px;
			font-size: 20px;
		}

		.after-icon-right:after {
			content: " ";
			background: url("../../images/content/weareclicquot/arrow_right.png") no-repeat right;
			background-size: contain;
			position: absolute;
			width: 20px;
			height: 20px;
			right: -20px;
			top:-0px;
		}

		a {
			text-decoration: none;
			color:#f49f0d;
		}

		@media screen and (max-width: 700px) {
			.after-icon-right {
				margin-right: 40px;
			}
		}
	}

	.slideShow {

		touch-action: inherit !important;
		// Remove default behavior (before = none)

		figure {
			position: relative;
			overflow: hidden;
			width: 70vw;
			margin-left: 15vw;
			height: 0%;
			padding-top: 46.25%;

			.slider-video{
				position: absolute;
				top:0;
				left:0;
				right: 0;
				bottom: 0;
				z-index: 10;
				width: 100%;
				height: 85%;

				margin-top: 30px;
			}
		}

		.nav-slider {
			position: absolute;
			top: 45%;
			width: 90vw;
			margin-left: 5vw;
			.arrow-left {
				float: left;
				cursor: pointer;
			}
			.arrow-right {
				float: right;
				cursor: pointer;
			}

			@media screen and (max-width: 700px) {
				width: 92vw;
				margin-left: 3.5vw;
			}
		}

		h4 {
			font-family: "veuve";
			font-weight: normal;
			font-style: normal;
			font-size: 28px;
			margin: 0;
			margin-top: -20px !important;

			@media screen and (max-width: 700px) {
				margin-top: 20px !important;
			}
		}

		h3 {
			font-family: "veuve";
			font-weight: 900;
			font-size: 22px;
		}

		p {
			font-family: "veuve";
			font-weight: normal;
			font-size: 18px;
			line-height: 1.3em;
			-moz-column-count: auto !important;
		    -webkit-column-count: auto !important;
		    column-count: auto !important;
		    width: 90vw;
			margin: 0 auto;
			padding: 10px 0;
		}

		.dots {
			margin-top: -30px;

			@media screen and (max-width: 700px) {
				display: none;
			}
		}

		.wrap {
			background-color: #FFFFFF;
		}

		.social
	    {
			text-align: center;
			vertical-align: middle;
			position: relative;
	      li
	      {
			display: inline-block;
	        width: 36px !important;
	        height: 36px;
	        float: none;

	        a {
		        .at2x('../images/layout/pictos-vendanges.png', @pictosVendangeWidth, @pictosVendangeHeight);
		        background-repeat: no-repeat;
		        width: 36px;
		        height: 36px;
		        display: block;
		        margin: 0;
	        }

	        &.facebook
	        {
	          a
	          {
              background-position: 0 -69px;
	          }
	        }

	        &.twitter
	        {
	          a
	          {
	            background-position: -36px -69px;
	          }
	        }

	        & + li
	        {
	          margin-left: 1em;
	        }
	      }
	    }
	}

	.share-bloc {
		position: relative;
		margin-top: 0px;
		width: 100vw;
	}

	.articles-list {
		margin-bottom: 0;
	}

	.push-margin {
		max-width: 100%;
		height: auto;
		padding: 0 15px;
	}
}
