article.women{
  color: @yellow;
  border-bottom: 1px solid @yellow;
  margin: 0 15px;
  h3{
    font-size: 31px;
    font-style: italic;
  }
  &>p{
    margin: 10px auto;
    padding: 0 10px;
    text-align: center;
    max-width: 320px;
  }
  ul{
    margin-top: 50px;
    list-style: none;
    li{
      background: #FFF;
      margin-top: 1px;
      width: 100%;
      figure{
        float: left;
        height: 106px;
        overflow: hidden;
        margin-right: 20px;
        width: 120px;
        img{
          margin-top: -19px;
        }
      }
      .text{
        padding-right: 20px;
        h5{
          margin-top: 5px;
          text-align: left;
          font-size: 22px;
          line-height: 22px;
        }
        strong{
          font-size: 14px;
          font-weight: 100;
          line-height: 14px;
        }
        p{
          color: #000;
          margin: 10px 0 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 700px){
  article.women{
    ul{
      li{
        figure{
          height: 158px;
          margin-right: 10px;
          img{
            margin-top: 0;
          }
        }
        .text{
          padding-right: 0;
          p{
            margin-top: 5px;
          }
        }
      }
    }
  }
}