.shop-action
{
  border: 1px solid @yellow;
  display: inline-block;
  position: relative;
  
  &:before
  {
    .at2x('../images/layout/sprite.png', @spriteWidth, @spriteHeight);
    width: 29px;
    height: 39px;
    background-position: 0 -204px;
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 0;
    margin-top: -20px;
    content: '\A0';
  }

  input
  {
    background-color: transparent !important;
    border: none;
    position: relative;
    z-index: 1;
    color: @yellow;
    padding: 0 1em 0 50px !important;
    font-family: @veuve;
    line-height: 2.8em;

    font-size: 1.2em !important;
    margin: 0 !important;
    height: auto !important;
  }
}

.product
{
  &.yellow-label,&.rose
  {
    .shop-action
    {
      border-color: #000;
      
      &:before
      {
        background-position: -29px -204px;
      }

      input
      {
        color: #000;
      }
    }
  }
}

.shop-block
{
  text-align: center !important;
  padding-top: 0 !important;
  /*margin-top: 4em;*/
}

@media screen and (max-width: 700px)
{
  .shop-block
  {
    padding-left: 0;
    padding-right: 0;
  }
  
  .shop-action
  {
    &:before
    {
      /*left: 29px;*/
      margin-top: -24px;
    }
    
    input
    {
      font-size: 1.4em !important;
      /*padding-left: 88px !important;*/
      line-height: 2.4em;
    }
  }
}
