footer.main-footer{
  background: #000;
  padding: 15px;
  position: relative;
  z-index: 10;
  .social{
    list-style: none;
    float: left;
    li{
      display: inline-block;
    }
  }
  .top{
    .spr;
    background-position: -30px -94px;
    display: block;
    float: right;
    height: 14px;
    margin-top: 2px;
    width: 19px;
  }
  hr{
    margin: 10px 0;
    border-top:1px solid @lg;
    width: 100%;
  }
  a{
    color: @g;
    text-decoration: none;
  }
  .links{
    float: left;
    list-style: none;
    margin:3px 20px 0 0;
    li{
      margin-bottom: 10px;
    }
  }
  a.back-home{
    .spr;
    background-position: -190px -156px;
    display: block;
    height: 28px;
    margin: 50px 0 100px 0;
    text-indent: -50000px;
    width: 26px;
  }
}