header.main-header{
  background: #000;
  display: block;
  height: 58px;
  position: relative;
  width: 100%;
  .transition(top);
  .translate3d;
  &.hide{
    top:-100px;
  }
  a.menu{
    .sprPhone;
    color: @yellow;
    display: block;
    height: 58px;
    line-height: 58px;
    position: absolute;
    left: 15px;
    top: 0px;
    text-decoration: none;
    &::after{
      .spr;
      background-position: -7px -96px;
      content: '.';
      display: none;
      height: 9px;
      width: 14px;
      position: absolute;
      top:50px;
      left: 50%;
      margin-left: -7px;
    }
    &.open::after{display: block;}
  }
  .logo{
    margin: 0;
    padding-top: 12px;
    a{
      .spr;
      background-position: 0px -33px;
      display: block;
      height: 35px;
      margin: 0 auto;
      width: 176px;
    }
  }
  ul.social{
    position: absolute;
    right: 10px;
    top: 16px;
  }
}


@media screen and (max-width: 700px){
  header.main-header{
    height: 30px;
    padding: 10px 0px;
    a.menu{
      background-position: -160px -74px;
      display: block;
      height: 16px;
      float: right;
      position: relative;
      left: 0;
      margin-top: 7px;
      margin-right: 15px;
      width: 16px;
       text-indent: -50000px;
      &::after{background: none;}
    }
    .logo{
      float: left;
      padding: 0;
      margin-left: 15px;
      a{
        background-position: 0 0;
        display: block;
        height: 29px;
        width: 151px;
      }
    }
  }
}
