nav.main-nav{
  background: @dg;

  display: none;
  padding: 25px 0;
  position: relative;
  //top: 58px;
  width: 100%;
  z-index: 11;
  ul{
    position: relative;
    border-left: 1px solid @lg;
    height: 100%;
    width: 30%;
    margin-left: 25px;
    li{
      box-sizing: border-box;
      padding-left: 15px;
      margin-bottom: 35px;
      width: 100%;
      ul{
        border-left: 1px solid @dg;

        overflow: hidden;
        opacity: 0;
        margin-left:100%;
        position: absolute;
        top: 0;
        width: 0;

        .transition(opacity);
        &.select{
          border-left: 1px solid @lg;

          overflow: visible;
          opacity: 1;
        width: 100%!important;
        }
        ul{
          top: 0;
        }
      }
    }
  }


  a,a.span{
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
  }
  a.span{
    &::after{
      .spr;
      background-position: -30px -64px;
      content: '.';
      display: inline-block;
      height: 17px;
      margin-left: 15px;
      width: 9px;
    }
    &.select{
      color: @yellow;
      &::after{
        background-position: -20px -64px;
      }
    }
  }
  a.back{
    color: @yellow;
    &::before{
      .spr;
      content: '.';
      display: inline-block;
      background-position: 0px -65px;
      height: 17px;
      margin-right: 15px;
      width: 9px;
    }
  }

}
@media screen and (max-width: 700px){
  nav.main-nav{
    background: none;
    position: absolute;
    padding: 0;
    ul{
      background: @dg;
      border-left: none!important;
      float: left;
      overflow: hidden;

      margin-left: 0px;
      //width: inherit;
      a.span{
        display: block;
      }
      li{
        border-bottom: 1px solid @lg;
        margin: 0;
        padding: 19px 20px;
        width: inherit;
        &.footLink{
          border: none;
          padding: 10px 20px;
          font-size: 15px;
          a{
            color: @g;
          }

        }

        ul{
          //opacity: 1;
          visibility: hidden;
          //width: inherit;
         // &.select{visibility: visible; width: inherit;}
         //
        }
      }
      &:not(.main-ul){
        a:not(.back){padding-left: 20px;display: block;}
      }
    }
    a.network{
      display: inline-block;
    }



}

}